@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Outfit;
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)),url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.head-top {
    display: flex;
    align-items: center;
    padding: 30px 50px;
}

.logo-name {
    color: #FFEA20;
    font-size: 24px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 900;
}

.nav-bar {
    position: absolute;
    right: 180px;
}

.nav-bar a {
    color: #E3F6FF;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-right: 30px;
}

.nav-bar a:hover {
    color: #FFEA20;
    transition: 0.8s ease;
}

.top-btn {
    position: absolute;
    right: 60px;
}
.hireme {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    background-color: #FFEA20;
    border-radius: 10px;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
}

.hireme:hover {
    background-color: #FFB100;
    transform: scale(95%);
    transition: transform 0.8s ease;
}

.main-head {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.main-head .main-title {
    font-size: 80px;
    text-transform: capitalize;
    letter-spacing: 5px;
    color: #FFEA20;
}

.main-head .para {
    color: #E3F6FF;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 10px 240px;
    line-height: 40px;
}

.main-btns {
    margin-top: 30px;
}

.hire-me {
    font-size: 28px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 600;
    background-color: #FFEA20;
    border: none;
    padding: 8px 30px;
    border-radius: 10px;
    margin-right: 30px;
    cursor: pointer;
}

.hire-me:hover {
    background-color: #FFB100;
    transform: scale(95%);
    transition: transform 0.8s ease;
}

.learn-more {
    font-size: 28px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 600;
    background-color: #FFEA20;
    border: none;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.learn-more:hover {
    background-color: #FFB100;
    transform: scale(95%);
    transition: transform 0.8s ease;
}

.about {
    background-color: #FFEA20;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.about .about-title {
    padding: 50px;
    font-size: 30px;
    letter-spacing: 1.5px;
}

.about i {
    font-size: 150px;
    margin-top: 20px;
}
.about .name {
    font-size: 40px;
    margin-top: 20px;
}

.about .para {
    font-size: 16px;
    letter-spacing: 1px;
    padding: 0px 240px;
    line-height: 30px;
    margin-top: 20px;
}

.portfolio {
    height: 100vh;
    text-align: center;
}

.portfolio .title {
    padding: 50px;
    font-size: 30px;
    letter-spacing: 1.5px;
}

.portfolio img {
    height: 160px;
    margin: 20px;
}

.hire-me-now {
    height: 40vh;
    background-color: #FFEA20;
    text-align: center;
}

.hire-me-now .para {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 40px;
    margin-top: 20px;
}

.hire-me-now .hire-me-now1 {
    background-color: #E3F6FF;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
    margin-top: 140px;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}

.hire-me-now .hire-me-now1:hover {
    background-color: #FFB100;
    transform: scale(95%);
    transition: 0.8s ease;
}

.footer {
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
}

.footer h4 {
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.footer a {
    color: gray;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .f-contact {
    text-align: center;
}

.footer .f-contact i {
    margin-top: 125px;
    margin-right: 10px;
}

.copyright {
    position: absolute;
    margin-top: 340px;
}

.copyright h5 {
    font-size: 12px;
    letter-spacing: 0.5px;
}

.copyright h5 a {
    font-size: 12px;
    font-weight: 800;
}